@media only screen and (min-width: 1200px) and (max-width:1720px){
    #output-data {
    
        display:flex;
        justify-content: space-around;
        align-items: center;
        margin:auto;
        margin-bottom: 5%;
        width:80%;
        padding-bottom: 2%;
        margin:auto;
        
        
    }
    
    
    
    #cityoutput, #outputdates, #weather {
    
        font-size:48px;
        text-align: center;
        line-height: 1.2;
    }
    
    }
