@import 'secondary-style.scss';
@import 'style-desktop.scss';
@import 'laptop-style.scss';
@import 'tablet-style.scss';

$main-font: "Roboto";
$second-font: "Roboto";

body {
    margin:0;
    padding:0;
    min-height: 100vh;
    background-image: url('../media/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $main-font;
    color:white;
    display: flex;
  flex-direction: column;

}
main { flex: 1 0 auto;}
h1 {
    text-align: center;
    font-size: 96px;
    margin-top: 10%;
    margin-bottom: 0px;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin: 0px;
    margin-bottom: 5%;
    font-weight: 400;
}

.form {

    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width:940px;
    margin: auto;
    background-color: rgba(196, 196, 196, 0.41);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    height: 155px;

}

.inputinfo {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width:60%;
    margin-left: 8%;
    label {
        font-size:12px;
        font-family:$second-font;
        display: block;
        text-align: left;
        font-weight: 500;
        line-height: 0;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-weight: 500;
        padding-left: 4%;
    }
}



input {

    font-size:12px;
    font-family:$second-font;
    padding-left: 10px;
    margin-top: 0px;
    border:none;

}

#cityinput {

        width:250px;
        height: 41px;
        border-radius: 10px;
        border: none;
        color:#686B6F;
        margin-top: 0px;
    }



#departureDate, #return {
    
    width:116px;
    height: 41px;
    border-radius: 10px;
    border: none;
    color:#686B6F;
    margin-top: 0px;
    padding-right: 5%;
}


.btn{
    margin-left: 10%;
    padding-top: 1.5%;
    margin-right: 8%;
}

#sub-btn {
        background-color: #48C6B9;
        color:white;
        font-family: Roboto;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        width: 122px;
        height: 41px;
        margin-top:5%;
        cursor: pointer;
        text-align: center;
    }
        #sub-btn:hover
        {background-color:#48a9c6;
        color:#ffffff;}
       


footer {
    text-align: center;
    height: 70px;
    background-color: black;
   color:white;
    width:100%;
    flex-shrink: 0;
    margin-top: 20px;
    p{
       font-size: 18px;
        padding-top: 8px;
    }
}

