@import 'secondary-style.scss';
@import 'style-desktop.scss';
@import 'laptop-style.scss';
@import 'tablet-style.scss';

$main-font: "Roboto";
$second-font: "Roboto";

$background-main: #0a014f;
$second-color:#f72585;
$third-color:#a81859;


*{
    margin:0;
    padding:0;
    border:0;
    font-family: $main-font;
}

body{
    background-image: url('../media/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    background-color: $background-main;
    padding: 20px 0;
    margin-bottom: 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:white;
    line-height: 1.2;
}

header p:last-child {

    padding-left: 3em;
    font-size: 1em;
    width:70%;
    margin: auto;
}

header p:first-child {
    font-size:1.4em;
    width:70%;
    margin: auto;
    padding-left: 2em;

}


main { flex: 1 0 auto;}

h3 {
    text-align: center;
    font-size: 2em;
    margin-top: 3em;
    margin-bottom: 1em;
    color:white;
    font-weight: 400;
}

.form {

    background-color: $background-main;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width:90%;
    margin: 0 auto;
    border-radius: 10px;
    color:white;
    padding: 3em 2em;
}


#output-data{
    display: none;
}
form {
   label {
        font-size:1em;
        font-family:$second-font;
        display: block;
        text-align: left;
        font-weight: 500;
        line-height: 0;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-weight: 500;
        padding-left: 4%;
    }
}


input {

    font-size:12px;
    font-family:$second-font;
    padding-left: 10px;
    margin-right: 40px;
    margin-top: 0px;
    align-self: center;
}

#cityinput {

        width:250px;
        height: 41px;
        border-radius: 10px;
        border: none;
        color:#686B6F;
        margin-top: 0px;
    }



#departureDate, #return {
    
    width:116px;
    height: 41px;
    border-radius: 10px;
    border: none;
    color:#686B6F;
    margin-top: 0px;
    padding-right: 5%;
}


#sub-btn {
        background-color: $second-color;
        color:white;
        font-family: Roboto;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        margin-top:5%;
        cursor: pointer;
        padding: 10px 50px;
        text-align: center;
        margin-left: 30px;
        margin-top: 20px;
    }
        #sub-btn:hover
        {background-color:$third-color;
        color:#ffffff;}
       


footer {
    text-align: center;
    padding: 2em 0;
    background-color: $background-main;
   color:white;
    width:100%;
    position: absolute;
    bottom: 0;
    flex-shrink: 0;
    margin-top: 20px;
    p{
       font-size: 18px;
        padding-top: 8px;
    }
}

